#working{
    background-color: #ECF1FC;
}

#web-tehnologies{
    background-color: #F3EEFD;
}

#graphic-design{
    background-color: #ECF1FC;
}

#market-analyst{
    background-color: #F3EEFD;
}

#pedagogy{
    background-color: #E7F2EA;
}

#correction{
    background-color: #FFEBF4;
}

#trainer,
#management{
    background-color: #E7F2EA;
}

